.color {
    background-color: #1A1B1E;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.navbar-logo {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.nav-menu {
    display: flex;
    gap: 1rem;
}

.nav-link, .dropdown-link {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}

.dropdown-item {
    position: relative;
}

.dropdown-button {
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    display: block;
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-item:hover .dropdown-content {
    display: block;
}

/* Corrected and adjusted padding for screens with a maximum width of 1280 pixels */
@media screen and (max-width: 1320px) {
    .dgdg {
        padding-left: 50px;
        padding-right: 50px;
        }
}


@media screen and (max-width: 768px) {
    .nav-menu {
        flex-direction: column;
        width: 100%;
        display: none;
    }

    .nav-menu.active {
        display: flex;
    }

    .menu-icon {
        display: block;
    }

    .dropdown-content {
        position: static;
    }
}